crud_currencyconverter/src/main/mule/currconv.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="currconv-config" api="currconv.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" >
		<apikit:flow-mappings >
			<apikit:flow-mapping resource="/currencyapi/sys/s_no/{s_no}" action="get" flow-ref="get:\currencyapi\sys\s_no\(s_no):currconv-config" />
			<apikit:flow-mapping resource="/currencyapi/sys/s_no/{s_no}/dbtype/{dbtype}" action="get" flow-ref="get:\currencyapi\sys\s_no\(s_no)\dbtype\(dbtype):currconv-config" />
			<apikit:flow-mapping resource="/currencyapi/sys/s_no/{s_no}/dbtype/{dbtype}" action="delete" flow-ref="delete:\currencyapi\sys\s_no\(s_no)\dbtype\(dbtype):currconv-config" />
			<apikit:flow-mapping resource="/currencyapi/sys/base/{base}/target/{target}/rate/{rate}" action="post" flow-ref="post:\currencyapi\sys\base\(base)\target\(target)\rate\(rate):currconv-config" />
			<apikit:flow-mapping resource="/currencyapi/sys/key/{key}/base/{base}/target/{target}/rate/{rate}/dbtype/{dbtype}" action="put" flow-ref="put:\currencyapi\sys\key\(key)\base\(base)\target\(target)\rate\(rate)\dbtype\(dbtype):currconv-config" />
		</apikit:flow-mappings>
	</apikit:config>
    <flow name="currconv-main">
        <http:listener config-ref="shared_resource_HTTP" path="api/crud/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<apikit:router config-ref="currconv-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\currencyapi\sys\key\(key)\base\(base)\target\(target)\rate\(rate)\dbtype\(dbtype):currconv-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="cb32e2e9-8680-41ff-94a7-15352532d801">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"s_no": attributes.uriParams.key,
	"baseCategory": attributes.uriParams.base,
	"targetCategory": attributes.uriParams.target,
	"conversionrate": attributes.uriParams.rate,
	"dbtype": attributes.uriParams.dbtype
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="key"><![CDATA[attributes.uriParams.'key']]></ee:set-variable>
                <ee:set-variable variableName="base"><![CDATA[attributes.uriParams.'base']]></ee:set-variable>
                <ee:set-variable variableName="target"><![CDATA[attributes.uriParams.'target']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Update Process" doc:id="b7ae0147-0a93-48c6-b450-d2d129e57787" name="Update_Process_Sub_Flow"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="de99ddc2-aef8-4ac9-8b21-fabfe182eecf">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\currencyapi\sys\s_no\(s_no)\dbtype\(dbtype):currconv-config" doc:id="0add4731-b791-4b2f-88ef-8fd415fa8809">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="f91ad56f-a03e-4af6-b7aa-e978b409b523" doc:name="Transform Delete Message">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	s_no: attributes.uriParams.s_no as Number,
	dbtype: attributes.uriParams.dbtype	
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="s_no"><![CDATA[attributes.uriParams.'s_no']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Delete Process" doc:id="66756c2b-fea7-4eec-8b22-dc1838674aa8" name="Delete_Process_Sub_Flow"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ceb5d3dd-e7f5-409f-ad0f-a545a8877a52">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\currencyapi\sys\s_no\(s_no):currconv-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="44e2f2de-e703-4fcb-917b-8a21c101f973" doc:name="Transform Payload">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	s_no: attributes.uriParams.'s_no'
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Get Process MySQL" doc:id="2357d086-bd0e-4da6-8efb-ae2edec7e055" name="Get_Sub_Flow"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="623e976a-196d-4a9f-9bfd-d7c3c5b5ca70">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\currencyapi\sys\s_no\(s_no)\dbtype\(dbtype):currconv-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="4f3abff7-0c7c-41f7-ae40-9ab84b01b8c1">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	s_no: attributes.uriParams.'s_no',
	dbtype: attributes.uriParams.dbtype
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="s_no"><![CDATA[attributes.uriParams.'s_no']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Get Process With DB" doc:id="a99eb688-258b-4164-a313-11bfaeb39942" name="Get_Sub_Flow_With_DB"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="cf96a988-c0f3-4190-9534-f0674085e039">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\currencyapi\sys\base\(base)\target\(target)\rate\(rate):currconv-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="5bebb6f6-d70a-4d4c-b2fd-0048555e2864">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{	
	baseCategory: attributes.uriParams['base'],
	targetCategory: attributes.uriParams['target'],
	conversionrate: attributes.uriParams.rate
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="base"><![CDATA[attributes.uriParams.'base']]></ee:set-variable>
                <ee:set-variable variableName="target"><![CDATA[attributes.uriParams.'target']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Insert Process" doc:id="810ec64b-044d-4cd6-a924-c22ba9ca15c4" name="Insert_Process_Sub_Flow"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="8054c158-0c12-4b49-8672-aa4b70c85293">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
